@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-on-scroll {
    opacity: 0.0;
    transition: opacity 0.5s ease-in;
}

.faded-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.fade-in-on-scroll-slow {
    opacity: 0.0;
    transition: opacity 2s ease-in;
}

.faded-in-slow {
    opacity: 1;
    transition: opacity 2s ease-in;
}

.expand-on-scroll {
    width: 1px;
    transition: width 2s ease-in;
}


.expanded {
    width: 100%;
    transition: width 2s ease-in;
}

.underline-on-scroll, .underlined {
    display: inline-block;
    position: relative;
}

.underline-on-scroll::after, .underlined::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ff7c1f;
    transform-origin: bottom right;
    transition: transform 2s ease-out;
    border-radius: 10px;
}

.underlined::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}


/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*!*TODO: consider implementing a dark mode*!*/
/*!*@media (prefers-color-scheme: dark) {*!*/
/*!*  :root {*!*/
/*!*    --foreground-rgb: 255, 255, 255;*!*/
/*!*    --background-start-rgb: 0, 0, 0;*!*/
/*!*    --background-end-rgb: 0, 0, 0;*!*/
/*!*  }*!*/
/*!*}*!*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/
