@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-on-scroll {
    opacity: 0.01;
    transition: opacity 0.5s ease-in;
}

.faded-in {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.expand-on-scroll {
    width: 1px;
    transition: width 2s ease-in;
}

.expanded {
    width: 100%;
    transition: width 2s ease-in;
}


/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*!*TODO: consider implementing a dark mode*!*/
/*!*@media (prefers-color-scheme: dark) {*!*/
/*!*  :root {*!*/
/*!*    --foreground-rgb: 255, 255, 255;*!*/
/*!*    --background-start-rgb: 0, 0, 0;*!*/
/*!*    --background-end-rgb: 0, 0, 0;*!*/
/*!*  }*!*/
/*!*}*!*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/
